@font-face {
  font-family: "OwreKynge";
  src: url("./assets/OwreKynge.ttf");
}

@font-face {
  font-family: "Alkhemikal";
  src: url("./assets/Alkhemikal.ttf");
}

body,
html {
  font-family: "OwreKynge";
  margin: 0;
  background: black;
  color: white;
}

::selection {
  background: #ca8638; /* WebKit/Blink Browsers */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  font-family: OwreKynge;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 109px;
  margin: 0;
}

h2 {
  font-family: Alkhemikal;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  color: #c4c4c4;
}

img {
  border: 0;
}
#icon-container {
  padding: 16px;
  border-bottom: 6px solid #c4c4c4;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 70px !important;
  }
}
